<%= simple_form_for([ conversation, message ], remote: true, html: {class: "ui reply form"}) do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control message-area", id: "message-field" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div class="message-btns">
      <%= f.submit "Send message", class: "btn btn-primary", id: "send-message" %>
      <p>or</p>
      <%= link_to "Back to messages", conversations_path %>
    </div>
    <div>
    </div>
  <% end %>
