<div class="main">
  <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  <div class="ui segment">
    <% if @messages.first.id.nil? %>
      <% binding.pry %>
      <p>There are no messages between you yet. Don't be shy, say hello!</p>
    <% end %>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="content">
            <div class="header"><%= user.first_name %></div>
            <div class="list">
              <div class="item">
                <p>   > <%= message.body %> </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "Send message", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
