<div class="main">
  <div>
    <h3>Messages</h3>

    <div class="ui list">
      <div class="item">
        <% if @conversations.empty? %>
          <p>You don't have any messages yet</p>
        <% end %>
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="message-li">
          <%= link_to "", conversation_messages_path(conversation), class: "message-link" %>
            <%= profile_picture_for(User.find(recipient), height: 80, width: 80, class: "message-avatar") %>
            <div class="message-li-name">
              <h3><%= recipient.first_name %></h3>
              <p><%= conversation.messages.last.message_time if conversation.messages.last %></p>
            </div>
            <div class="message-li-body">
              <p>
                <%= conversation.messages.last.body if conversation.messages.last %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
