<div class="body body-profile">

<div class="container container-profile">
  <div class="header-image"></div>
    <div class="row">
      <div class="profile">
        <div class="col-xs-4 col-sm-3">
          <% if current_user.photo.path.nil? || current_user.photo.nil? %>
            <img src=<%= current_user.spotify_photo %> class="profile-image" >
          <% else %>
            <%= cl_image_tag current_user.photo, crop: :fill, class: "profile-image" %>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-6" >
          <div class="about">
            <h4>Hi, <%= current_user.first_name %> !</h4>
            <article>
              Description:
              <br>
              <%= current_user.description %>
            </article>
          </div>
        </div>
        <div class="col-xs-4 col-sm-3" >
          <div class="edit-profile">
             <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="profile-header artists">
        <h4> Top artists Listens</h4>
      </div>
    </div>
    <div class="row">
      <div class="list-artists">
        <%current_user.artists.first(6).each do |artist| %>
          <div class="col-xs-6 col-sm-4">
            <div class="card-artists">
              <p><%= artist.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row" >
      <div class="profile-header tracks">
        <h4> Top tracks Listens</h4>
      </div>
    </div>
    <div class="row" >
      <div class="list-artists">
        <%current_user.tracks.first(10).each do |track| %>
          <div class="col-xs-6 col-sm-6">
            <div class="card-artists">
              <p><%= track.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



