<div class="sidebar-wagon">
  <!-- Logo -->

      <div class="border"></div>

    <div class="sidebar-menu">
      <div class="sidebar-avatar">
        <a href="/profile" class="sidebar-avatar"><%= profile_picture_for(current_user, class: "avatar", id: "navbar-wagon-menu") %></a>
        <div id="user-name-sidebar">
          <%= current_user.first_name %>
        </div>
      </div>
    <div class="border"></div>
    <ul class="list-unstyled">
      <li>
        <%= link_to "Profile", "/profile", class: "sidebar-link" %>
      </li>
      <div class="border-light"></div>
      <li>
        <%= link_to "Start matching", "/next-match", class: "sidebar-link" %>
      </li>
      <div class="border-light"></div>
      <li>
        <%= link_to "Messages", conversations_path, class: "sidebar-link" %>
        <% unless unread_messages_count == 0  %>
          <span class="number-notif">
            <%= unread_messages_count %>
          </span>
        <% end %>
      </li>
      <div class="border-light"></div>
      <li>
        <%= link_to "Dates", rdvs_path, class: "sidebar-link" %>
        <% unless request_count == 0  %>
          <span class="number-notif">
            <%= request_count %>
          </span>
        <% end %>
      </li>
      <div class="border-light"></div>
      <li>
        <div class="sidebar-link"><%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Log out") %>
      <% end %></div></li>
    </ul>
    <div class="border-light"></div>
  </div>
    <div class="sidebar-logo">
      <%= link_to root_path, id: "logo-container" do %>
        <%= image_tag "logo.png", height: 40 %>
      <% end %>
    </div>

</div>




