

<div class="container container-match-show">
 <!--  <div class="container"> -->
  <div class="row">
    <div id="profile-card">
      <div class="card">
        <% @match.user_1 == current_user ? user = @match.user_2 : user = @match.user_1 %>
        <h2>You matched with <%= user.first_name %></h2>
        <div class="img-container">
          <% if User.find(user).photo.path.nil? %>
            <img src=<%= User.find(user).spotify_photo %> class="profile-picture" >
          <% else %>
            <%= cl_image_tag User.find(user).photo, class: "profile-picture" %>
          <% end %>
        </div>
        <div class="matchistics">
          <h3>Matchistics: <%= @match.score %></h3>
          <h4> You have <%= @match.artist_listen_in_commons.length %> artists in common </h4>
          <% unless @match.track_listen_in_commons.empty? %>
            <h4>And there are <%= @match.track_listen_in_commons.length %> tracks you both like! </h4>
          <% end %>
          <%= link_to "See full details", "#", class: "btn btn-primary", id: "show-more-info", onclick: "triggerIn()" %>
        </div>
      </div>
    </div>
  </div>
    <!-- This is the hidden "more info" card-->

  <div class="flybox-wrap" id="off">
    <div class="card" >
<!--       <div class="animated fadeInRight">
      <div class="card scrollable hidden" id="more-info"> -->
      <h4>Artists in common: </h4>

      <% if @match.artist_listen_in_commons.length < 5 %>
        <% @match.artist_listen_in_commons.reverse.each do |a_in_common| %>
          <p><%= a_in_common.artist.name %></p>
        <% end %>
      <% else %>
        <% @match.artist_listen_in_commons.reverse.first(5).each do |a_in_common| %>
          <p class="show-content"><%= a_in_common.artist.name %></p>
        <% end %>
        <div id="artist-list" class="hidden">
          <% @match.artist_listen_in_commons.reverse.drop(5).each do |a_in_common| %>
            <p><%= a_in_common.artist.name %></p>
          <% end %>
        </div>
      <% end %>
      <% unless @match.track_listen_in_commons.empty? %>
        <h4>Tracks you both like: </h4>
        <% if @match.track_listen_in_commons.length < 5 %>
          <% @match.track_listen_in_commons.reverse.each do |tr_in_common| %>
            <p><%= tr_in_common.track.name %></p>
          <% end %>
        <% else %>
          <% @match.track_listen_in_commons.reverse.first(5).each do |tr_in_common| %>
            <p class="show-content"><%= tr_in_common.track.name %></p>
          <% end %>
          <div id="track-list" class="hidden">
            <% @match.track_listen_in_commons.reverse.drop(5).each do |tr_in_common| %>
              <p><%= tr_in_common.track.name %></p>
            <% end %>
          </div>
          <a href="#" id="show-full-list">Show all</a>
        <% end %>
      <% end %>
      <div class="date-btns">
        <%= link_to "Not interested", match_path(@match, {match:{hide: true}}), method: :put, class: "btn btn-not" %>
        <% if @match.asker.nil? %>
          <%= link_to "Ask out!", match_path(@match, {match:{asker: @user.id}}), method: :put, class: "btn btn-date" %>
        <% else %>
          <%= link_to "Ask out!", match_path(@match, {match:{receiver: @user.id}}), method: :put, class: "btn btn-date" %>
        <% end %>

<!--         </div>
      </div>
      </div> -->
      </div>
    </div>
  </div>
</div>



