<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lovify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Lovify | Find your music match" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.lovify.top/" />
    <meta property="og:image" content="https://img15.hostingpics.net/pics/144520lovifyfb.jpg" />
    <meta property="og:description" content="Lovify helps you find someone who shares your love for music. Match in one click using your Spotify account and go on a date." />
    <meta property="og:site_name" content="Lovify" />
    <meta name="keywords" content="lovify, love, spotify, match, online, dating, music" />

    <%= favicon_link_tag 'logo-seul.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/sidebar' unless action_name == 'home' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag "application" %>

    <%= yield(:after_js) %>
  </body>
</html>
